<h1>Esta es mi app {{ title }}</h1>

<div class="container">
  <form>
    <label>Nombre</label>
    <input type="text" name="nombre" id="nombre" #unNombre />
    <label>Apellido</label>
    <input type="text" name="Apellido" id="Apellido" #unApellido />
    <label>Cargo</label>
    <input type="text" name="Cargo" id="cargo" #unCargo />
    <label>Salario</label
    ><input type="number" name="salario" id="salario" [(ngModel)]="unSalari" />
    <button
      class="btn btn-dark"
      (click)="
        agregarEmpleado(
          unNombre.value,
          unApellido.value,
          unCargo.value,
          unSalari
        )
      "
    >
      Agregar
    </button>
  </form>

  <app-empleado-hijo
    *ngFor="let empleado of empleados"
    [empleadoLista]="empleado"
  ></app-empleado-hijo>
  <br />
  <br />
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
